*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    background-color: #fff;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}
body{
    background-color: #fff;
}
 header{
     background-color: orange;
     width: 100%;
     padding: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     flex-wrap: wrap;
 }
 header .logo{
     color: #fff;
     font-size: 30px;
 }
 header .loo img {
     width: 50px;
     vertical-align: top;
 }
 header .logo a {
     color: #fff;
     text-decoration: none;
     line-height: 50px;
 }
 header nav {
     width: 50%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
 }
 .img_1, .img_2, .img_3{
     padding: 20px;
     margin: 20px;
     width: auto;
     height: 20pxs;
     text-align: center;
 }
 header nav a{
     background-color: darkblue;
     color: #fff;
     text-align: center;
     text-decoration: none;
     padding: 10px;
     flex-grow: 1;
 }
 header nav a:hover {
     background: #e74c3c;
 }

 .main {
     background: whitesmoke;
     padding: 20px;
     flex: 1 1 70%;
 }
 .main article{
     margin-bottom: 20px;
     padding-bottom: 20px;
     border-bottom: 1px solid blue;
 }
 aside{
     background: black;
     padding: 20px;
     flex: 1 1 30;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: flex-start;
 }
 aside .widget{
     background: #e67e22;
     width: 100%;
     padding: 20px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 footer .links{
     background: darkblue;
     display: flex;
     flex-wrap: wrap;
 }
 footer .links a {
     flex-grow: 1;
     color: #fff;
     padding: 10px;
     text-align: center;
     text-decoration: none;
 }
 footer .links a:hover{
     background: #e74c3c;
 }
 footer .social a:hover{
     background: #f7a55d;
 }
 footer .social {
     background: #e67e22;
 }
 footer .social a{
     color: #fff;
     text-decoration: none;
     padding: 10px;
     display: inline-flexbox;
 }